
* img{
    max-width: 100%;
}

main{
display: grid;
background-color: azure;
font-family: 'Raleway', sans-serif;
}

main form button{

    padding: 1rem;
    background-color: cornsilk;
}


main section{
   
    /* grid-column: 3/8 ; */
    justify-self: center;
    flex-direction: column;
    display: flex;
    align-items: center;

}

main  ul li{
    background-color: beige;
    display: grid;
    border: 1px solid burlywood;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 1px 1px 2px;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
}


@media screen and (max-width: 600px) {
    main  ul li {
        margin: 1rem 0;
       }

main{ grid-template-columns: repeat(1,1fr);}


       main section{
           align-self: start;
        
       
       }


       section form, section ul{

           max-width: 80vw;
       }
    
    }
